{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-left">
    <div class="col-lg-9 p-0">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 p-0">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://crm.openvideo.tech/mailing-list" role="button" target="_blank" style="background-color: /*#22796f*/#b2501b;border-color: /*#22796f*/#b2501b;">Join mailing list</a>&nbsp;&nbsp;<a href="/docs/help/introduction/">learn more</a>
    </div>
    <div class="col-lg-6 col-xl-7"><img src="images/mova-illustration-02.png" alt="mova graphic" style="width: 450px; margin: -210px 0 -100px 50px;" /><img src="images/full-screen-color-scribbble-green-bg.png" alt="mova graphic" style="width: 850px; margin: -410px 0 -100px 0px;" />
    </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="h4">Mac OS, Windows & Linux</h2>
        <p>The first cross-platform desktop app to generate ISCC codes for large video files.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Community-run database ⚡️</h2>
        <p>Uses its own distributed ledger to share the database across the community of users.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Full open API & indexer</h2>
        <p>Access verified claims with a restful API, running from a ledger indexer.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <h2 class="h4">Custom field-builder</h2>
        <p>Admin can create custom metadata field types, expose to ledger, i18n & API. </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Verified Credentials</h2>
        <p>To build layers of trust, certifiers can verify credentials of claims, down to field level.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Web Monetization ready</h2>
        <p>Add an ILP Payment Pointer at account level and for specific claims.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
